alias fn='find -name \!*'
alias fc='find -name "*.c*" | xargs grep -i'
alias fh='find -name "*.h*" | xargs grep -i'
alias fp='find -name "*.pl" | xargs grep -i'
alias fpl='find -name "*.pl" | xargs grep -i'
alias ft='find -name "*.toc" | xargs grep -i'
alias ftoc='find -name "*.toc" | xargs grep -i'
alias ftcl='find -name "*.tcl" | xargs grep -i'
alias fs='find -name "*.sgdc*" |xargs grep -i'
alias fsgdc='find -name "*.sgdc*" |xargs grep -i \!*'
alias fve='find -name "*.v" | xargs grep -i'
alias fvh='find -name "*.vh*" | xargs grep -i'
alias fran='find -name "*.*" |xargs grep -i \!*'
alias ls='ls -F'
alias .='pwd'
alias ..='cd ..'
alias -- -='cd -'
alias g='gvim '
alias df='df -h .'
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
alias c='clear'
alias h='history \!* | tail -30'
alias wh='which'
alias t='type'
alias ll='ls -lp'
alias so='source'
alias rsync='/usr/bin/rsync'
alias clc='clear'
alias pdf='evince\!*' # xdg-open
alias unknown='c++filt \!*'
alias mem='du -sh \!*'
alias kon='dbus-launch konsole & '
alias unzip='tar xvzf \!*'
alias decript='gpg -d \!*'
alias decrypt_gpg='echo "\!:1" | gpg --passphrase-fd 0 --batch --no-tty --yes \!:2'
alias soffice="/c/Program\ Files/LibreOffice/program/soffice"
alias url="curl"
alias upg='rm files; git diff | grep -i "+++" | sed "s/+++ b\///g" > files'
alias m6f='/usr/local/bin/make force 64bit=yes '
alias build_login='qrsh -P M_RH6'
alias edit='rsh vgintiv254'
alias ql='qrsh -P ilight' ##for light jobs like editing code, routing work
alias qh='qrsh -P iheavy' ##for heavy jobs like debugging benchmarks etc
alias qp='qrsh -P iperf -l mem_free=40G' ##for heavy jobs like debugging benchmarks etc
