alias fn       'find -name \!*'
alias fc       'find -name "*.c*" | xargs grep -i'
alias fh       'find -name "*.h*" | xargs grep -i'
alias fp       'find -name "*.pl" | xargs grep -i'
alias fpl      'find -name "*.pl" | xargs grep -i'
alias ft       'find -name "*.toc" | xargs grep -i'
alias ftoc     'find -name "*.toc" | xargs grep -i'
alias ftcl     'find -name "*.tcl" | xargs grep -i'
alias fs       'find -name "*.sgdc*" |xargs grep -i'
alias fsgdc    'find -name "*.sgdc*" |xargs grep -i \!*'
alias fve      'find -name "*.v" | xargs grep -i'
alias fvh      'find -name "*.vh*" | xargs grep -i'
alias fvdb     'find -name spyglass.vdb | grep -i -v .tmp |xargs grep -i \!*'
alias fsimple  'find -name moresimple.rpt | grep -i consolidated_reports |xargs grep -i \!*'
alias fgold    'find -name GOLD | xargs grep -i \!*'
alias fprj     'find -name "*.prj" |xargs grep -i \!*'
alias fran     'find -name "*.*" |xargs grep -i \!*'
#alias indent    'indent -cdw -ce -di20 -l80 -lc80 -ts4 -nut -br -lp -i4 -npcs -npsl -cli4'
alias ls       'ls -F'
#alias ls       'ls -F --color=auto'
#alias ls        'ls -F --color=always'
alias .         'pwd'
alias ..        'cd ..'
alias -         'cd -'
alias g         'gvim '
alias df        'df -h .'
alias cp        'cp -i'
alias mv        'mv -i'
alias rm        'rm -i'
alias c         'clear'
alias h         'history \!* | tail -30'
alias wh        'which'
alias ll        'ls -lp'
alias so        'source'
alias rsync     '/usr/bin/rsync'
alias clc       'clear'
alias oph       '/remote/us01home57/singhma/scripts/old_phone \!*'
alias ph        '/remote/us01home57/singhma/scripts/phone \!* | grep IN7B'
alias pdf       'evince\!*' # xdg-open
alias unknown   'c++filt \!*'
alias mem       'du -sh \!*'
alias kon       'dbus-launch konsole & '
alias unzip     'tar xvzf \!*'
alias decript   'gpg -d \!*'
alias p4change  '/u/singhma/scripts/p4change'
alias decrypt_gpg 'echo "\!:1" | gpg --passphrase-fd 0 --batch --no-tty --yes \!:2'

# cscope alias
alias lc        '/remote/us01home57/singhma/scripts/launch_cscope'

#rmake
alias rmake     '/remote/us01home57/singhma/scripts/rmake '

######################################### directories Aliases
alias gm1 	    'cd /remote/us01home57/singhma/gaurav1'
alias gm2 	    'cd /remote/us01home57/singhma/gaurav2'
alias gm3       'cd /slowfs/dept5396t15/singhma'
alias kernel    'cd /remote/vgatr_kernel'
alias tjk       'cd /remote/vgatr_kernel'
alias central   'cd /remote/vgatr_central/CenteralBuild/FullSourceCode'
alias cds       'cd /remote/vgsource10/singhma/views/td_src/spyglass-src/spyglass/dft'
alias cdb       'cd /remote/vgrnd105/singhma/td_build/spyglass-src/spyglass/dft'
alias docs      '/remote/vgatr_spyint/integration/SpyGlass_vO-2018.09-C1/RELEASE/SpyGlass_vO-2018.09/SPYGLASS_HOME/doc/user_guides/\!*'

######################################### environment variable Aliases
alias exe       'echo $SPYGLASS_EXE_PATH'
alias spgh      'echo $SPYGLASS_HOME'
alias lib       'echo $SPYGLASS_LD_LIBRARY_PATH'
alias uexe      'unsetenv SPYGLASS_EXE_PATH'
alias uspgh     'unsetenv SPYGLASS_HOME'
alias ulib      'unsetenv SPYGLASS_LD_LIBRARY_PATH'
alias sexe      'setenv SPYGLASS_EXE_PATH '
alias sspgh     'setenv SPYGLASS_HOME '
alias spg       '$SPYGLASS_HOME/bin/spyglass \!*'

######################################### script Aliases
alias val       '/remote/us01home57/singhma/scripts/analyzeVal -f'
alias gc        '/remote/us01home57/singhma/scripts/getCscope'
alias cscope    '/remote/us01home57/singhma/scripts/getCscope'
alias map       '/slowfs/vgatr_software/snpsuser.sh'
alias change    'set path = ($path /remote/kickstart/binold/integration/scripts/pathchanger); CHANGE.sh . ; links.pl .'
alias p4s       'setenv P4USER singhma; setenv P4CONFIG .p4config'   
alias p4sync    'vgp4sync spyglass --update_link'
alias tdinit    'vgp4init -r TD.SPYGLASS --spyglass; vgp4sync spyglass'
######################################### new Aliases
alias p4_soc	'source /u/regress/INFRA_HOME/sourceme'
alias bm        'source /remote/sge/default/vctrain/common/settings.csh; qsh -P M_COS66'
alias buildo    'vgbuild --mode64' 
alias build     'vgbuild --mode64 --debug_full ' 
alias bld       'vgbuild --mode64 --debug_full ' 
alias build2    'vgbuild --mode64 --dir=spyglass-src'
alias buildt    'vgbuild --mode64 --dir=spyglass-src -- -retry=2'
alias clean     'find . -type f -name "*.o" | xargs rm -rf'
alias vis       'vi synmake.log'
alias gvis       'g synmake.log'

######################################### regression Aliases
alias crash     'grep -i status:CRASH * | &tee CRASH'
alias error     'grep -i status:ERROR * | &tee ERROR'
alias failed    'grep -i status:FAILED * | &tee FAILED'
alias upg       'rm files; git diff | grep -i "+++" | sed "s/+++ b\///g" > files'

alias regolde   'p4 edit GOLD; \cp -f Work/Linux4/TEST GOLD'
alias regold    '\cp -f Work/Linux4/TEST GOLD'
alias vid       'vi -d GOLD Work/Linux4/TEST '
alias vide      'vi -d ERROR Work/Linux4/TEST '
alias gvid      'gvim -d GOLD Work/Linux4/TEST '
alias gvide     'gvim -d ERROR Work/Linux4/TEST '
alias rmt       'rm -rf obj/ lib/* WORK Work goal_load_status run'
################################################# Build Setup
alias fb        'rm -rf OBJ; mkdir OBJ; build2'
alias gwarn     'grep "dft.*warning" -iE synmake.log'
alias b6        'bsub -q build57 -I /usr/local/bin/make 64bit=yes |&tee log\!* '
alias b6o       'bsub -q build57 -I /usr/local/bin/make 64bit=yes dev=opt |&tee log\!* '
alias b6f       'bsub -q build57 -I /usr/local/bin/make 64bit=yes force |&tee log\!* '
alias b6s       'bsub -q build57 -I /usr/local/bin/make 64bit=yes SILENT= |7tee log\!* '
alias b6fs      'bsub -q build57 -I /usr/local/bin/make 64bit=yes SILENT= force |&tee log\!* '
alias b6c       'rm -rf SPYGLASS_HOME/obj/* ; cd SPYGLASS_HOME ; bsub -q build57 -I /usr/local/bin/make 64bit=yes force; cd .. ; bsub -q build57 -I /usr/local/bin/make 64bit=yes |&tee log'

alias m6    	'/usr/local/bin/make 64bit=yes '
alias m6f   	'/usr/local/bin/make force 64bit=yes '

alias bmake         'bsub -I -n 4 lsmake -T -V -j 4 -c 2 64bit=yes SILENT=  -f parallel_kernel.mk | & tee log'
alias bmakeforce    'bsub -I -n 4 lsmake -T -V -j 4 -c 2 64bit=yes force SILENT=  -f parallel_kernel.mk | & tee log'
alias bmakeopt      'bsub -I -n 4 lsmake -T -V -j 4 -c 2 64bit=yes dev=opt force SILENT=  -f parallel_kernel.mk | & tee log'

alias ntd          '/remote/vtgimages/SAFE/linux_RH6_EM64T_TD_mode64_debug_Engineer/spyglass-src/sgcommon/kernel/source/SPYGLASS_HOME/bin/spyglass'
alias ndcrt        '/remote/sweifs/PE/products/dgplt/o_r1_rel/image/nightly/dgplt_optimize/D20180719_4286542/Testing/bin/dft_shell'

alias td           'spg -project test.prj -goal test_goal '
alias tdb          'spg -project test.prj -goal test_goal -batch'

alias pdft         'rm -rf xx.prj xx gui_command.log ; /remote/us01home57/singhma/scripts/generate_dft_project_file; spg -project xx.prj  -goal test_goal -batch \!*' 
alias pdsm         'rm -rf xx.prj xx gui_command.log ; /remote/us01home57/singhma/scripts/generate_dsm_project_file; spg -project xx.prj  -goal test_goal -batch \!*' 
alias pspg         'rm -rf xx.prj xx gui_command.log ; /remote/us01home57/singhma/scripts/generate_spg_project_file; spg -project xx.prj  -goal test_goal -batch \!*' 
alias pdft_dsm     'rm -rf xx.prj xx gui_command.log ; /remote/us01home57/singhma/scripts/generate_project_file; spg -project xx.prj  -goal test_goal -batch \!*' 

alias xx            'rm -rf xx; spg -project xx.prj  -goal test_goal -batch \!*'
alias test          'rm -rf xx; spg -project test.prj  -goal test_goal -batch \!*'
alias gui           'spg -project xx.prj  -goal test_goal \!*'

alias xxdft         'rm -rf xx.prj xx gui_command.log ; /remote/us01home57/singhma/scripts/generate_dft_project_file'
alias xxdsm         'rm -rf xx.prj xx gui_command.log ; /remote/us01home57/singhma/scripts/generate_dsm_project_file'
alias xxdft_dsm     'rm -rf xx.prj xx gui_command.log ; /remote/us01home57/singhma/scripts/generate_project_file'
alias xxspg         'rm -rf xx.prj xx gui_command.log ; /remote/us01home57/singhma/scripts/generate_spg_project_file'

alias tsync         'p4 sync //TD_singhma_71/\!*'
alias trun    	    'ts.verify -product spyglass -T /u/regress/p4_snapshots/TD `pwd | egrep -i -o "unit.*"`.vgt'
alias trun2    	    'ts.verify -product spyglass -T /remote/vgrnd105/singhma/reg_area/test_td `pwd | egrep -i -o "unit.*"`.vgt'
alias trun3    	    'ts.verify -product spyglass -T /remote/vgrnd105/singhma/reg_area/test_td_temp `pwd | egrep -i -o "unit.*"`.vgt'
alias t1809    	    'ts.verify -product spyglass -T /remote/vgrnd105/singhma/reg_area/test_VCS2018.09 `pwd | egrep -i -o "unit.*"`.vgt'
alias t1906    	    'ts.verify -product spyglass -T /remote/vgrnd105/singhma/reg_area/test_VCS2019.06 `pwd | egrep -i -o "unit.*"`.vgt'
alias tdiff         'g -d GOLD ~/log/tsvlog/`pwd | egrep -i -o "unit.*"`/Work/Linux4/TEST'
alias tregold       '\cp -rf ~/log/tsvlog/`pwd | egrep -i -o "unit.*"`/Work/Linux4/TEST GOLD'
alias tregolde      '\cp -rf ~/log/tsvlog/`pwd | egrep -i -o "unit.*"`/Work/Linux4/TEST GOLD; p4 edit GOLD'
##########################
alias build_login   'qrsh -P M_RH6'
alias bsrc          'source /remote/sge/default/vcsdev/common/settings.csh'
alias blogin        'qsh -P RH5_EM64T'
alias mfdb          'c;vgbuild --debug_full --mode64; grep -iE "error:|warning" synmake.log'
alias mfdbe         'c;vgbuild --debug_full --mode64; grep "Error:" synmake.log'
alias edit          'rsh vgintiv254'
alias ql            'qrsh -P ilight' ##for light jobs like editing code, routing work
alias qh            'qrsh -P iheavy' ##for heavy jobs like debugging benchmarks etc
alias qp            'qrsh -P iperf -l mem_free=40G' ##for heavy jobs like debugging benchmarks etc
alias gd4           'g -d GOLD Work/Linux4/TEST'
alias soc           'source ~/.cshrc'
alias synm          '/depot/qsc/QSCP/bin/synmake'

alias sshtdl        'setenv SPYGLASS_HOME /remote/vgrnd105/singhma/td_build/spyglass-src/sgcommon/kernel/source/SPYGLASS_HOME'
alias sshtdlf       'setenv SPYGLASS_HOME /remote/vgrnd105/singhma/td_debug_build/spyglass-src/sgcommon/kernel/source/SPYGLASS_HOME'
alias sshtdlt       'setenv SPYGLASS_HOME /remote/vgrnd105/singhma/td_build_temp/spyglass-src/sgcommon/kernel/source/SPYGLASS_HOME'
alias sshtdl2       'setenv SPYGLASS_HOME /slowfs/dept5396t15/singhma/spyglass/build/td_bld_temp/spyglass-src/sgcommon/kernel/source/SPYGLASS_HOME'
alias ssh1809n      'setenv SPYGLASS_HOME /remote/vtgimages/SAFE/linux_RH6_EM64T_VCS2018.09_mode64/spyglass-src/sgcommon/kernel/source/SPYGLASS_HOME'
alias sshtdn        'setenv SPYGLASS_HOME /remote/vtgimages/SAFE/linux_RH6_EM64T_TD_mode64/spyglass-src/sgcommon/kernel/source/SPYGLASS_HOME'
alias svcshmx       'setenv VCS_HOME /remote/vtgimages/SAFE/linux64_TD_Engineer/release-structure/vcs-mx'
alias svcsh         'setenv VCS_HOME /remote/vtgimages/SAFE/linux_RH4_AMD64_Base_32_Engineer' 

alias snaprr        'regrun -product spyglass -T /u/regress/p4_snapshots/TD -f /u/regress/p4_snapshots/TD/unit_SPYGLASS/dft/test/regrun_files/dft_leaf_testcase.list -- -post "/u/regress/INFRA_HOME/pub/copy_regrun_test_logs.pl --dir /remote/vgrnd105/singhma/reg_area/Test_TDx/unit_SPYGLASS/REGRUN_WORK" -t 3500'

alias rr            'rm -rf /remote/vgrnd105/singhma/reg_area/test_td/unit_SPYGLASS/REGRUN_WORK; mkdir /remote/vgrnd105/singhma/reg_area/test_td/unit_SPYGLASS/REGRUN_WORK; regrun -product spyglass -T /remote/vgrnd105/singhma/reg_area/test_td/ -f /remote/vgrnd105/singhma/reg_area/test_td/unit_SPYGLASS/dft/test/regrun_files/dft_leaf_testcase.list -- -post "/u/regress/INFRA_HOME/pub/copy_regrun_test_logs.pl --dir /remote/vgrnd105/singhma/reg_area/test_td/unit_SPYGLASS/REGRUN_WORK" -t 3500 '
alias rrtemp        'rm -rf /remote/vgrnd105/singhma/reg_area/test_td_temp/unit_SPYGLASS/REGRUN_WORK; mkdir /remote/vgrnd105/singhma/reg_area/test_td_temp/unit_SPYGLASS/REGRUN_WORK; regrun -product spyglass -T /remote/vgrnd105/singhma/reg_area/test_td_temp/ -f /remote/vgrnd105/singhma/reg_area/test_td_temp/unit_SPYGLASS/dft/test/regrun_files/dft_leaf_testcase.list -- -post "/u/regress/INFRA_HOME/pub/copy_regrun_test_logs.pl --dir /remote/vgrnd105/singhma/reg_area/test_td_temp/unit_SPYGLASS/REGRUN_WORK" -t 3500 '
alias rr1809        'rm -rf /remote/vgrnd105/singhma/reg_area/test_VCS2018.09/unit_SPYGLASS/REGRUN_WORK; mkdir /remote/vgrnd105/singhma/reg_area/test_VCS2018.09/unit_SPYGLASS/REGRUN_WORK; regrun -product spyglass -T /remote/vgrnd105/singhma/reg_area/test_VCS2018.09/ -f /remote/vgrnd105/singhma/reg_area/test_VCS2018.09/unit_SPYGLASS/dft/test/regrun_files/dft_leaf_testcase.list -- -post "/u/regress/INFRA_HOME/pub/copy_regrun_test_logs.pl --dir /remote/vgrnd105/singhma/reg_area/test_VCS2018.09/unit_SPYGLASS/REGRUN_WORK" -t 3500 '

###########################monet####

alias svchl         'setenv VC_STATIC_HOME /remote/vgrnd105/singhma/monet_build/monet/Release'
alias vcdl          'echo $VC_STATIC_HOME'
alias vcd           '$VC_STATIC_HOME/bin/vc_static_shell'
alias vcdm          'vcd -f test.tcl -mode64'
alias vcsync        'vgp4sync vcstatic --update_link'
alias vcobd         'vgbuild --engineer --dir=monet --mode64'
alias vcdbd         'vgbuild --engineer --dir=monet --debug_full'
